body {
    margin: 0;
}

#board-header {
    background-color: #5f5f5f;
    height: 40px;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    display: flex;
    min-height: 40px;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
}

#board_menu {
    margin-right: 8px;
    font-size: 24px;
    max-height: 30px;
}

#board_menu p {
    margin-top: -14px;
}

.menu_items {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #4caf50;
    color: #fff;
    height: 14px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    margin-left: 5px;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.menu_items:hover {
    background-color: #388f50;
}

.menu_items-right {
    float: right;
}

.board-lists {
    display: flex;
    overflow: auto;
}

.list-element {
    width: 275px;
    min-width: 275px;
    background-color: rgba(0,0,0,0.1);
    margin: 0px 8px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

#create-list-btn {
    width: 275px;
    min-width: 275px;
    background-color: rgba(76,175,80,0.7);
    margin: 0px 8px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

#board_content {
    position: absolute;
    bottom: 0px;
    top: 80px;
}

#board-title {
    font-size: 24px;
    position: fixed;
    top: 40px;
}