body.waiting * {
    cursor: wait !important;
}

#board_menu {
    margin-right: 8px;
    font-size: 24px;
    max-height: 30px;
}

#board_menu p {
    margin-top: -10px;
}

#delete_drop {
    background-color: rgba(235, 90, 70, 0.8);
}

#delete_drop:hover {
    background-color: rgba(235, 90, 70, 0.6);
}

.board-lists {
    display: flex;
    overflow: auto;
}

.list-element {
    width: 275px;
    min-width: 275px;
    background-color: rgba(0,0,0,.1);
    margin: 0px 8px;
    padding: 10px;
    padding-top: 0px;
    border-radius: 3px;
    cursor: pointer;
}

#create-list-btn {
    width: 275px;
    min-width: 275px;
    background-color: rgba(76,175,80,.8);
    margin: 0px 8px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}

#create-list-btn:hover {
    background-color: rgba(76,175,80,1);
}

#board_content {
    position: absolute;
    bottom: 0px;
    top: 80px;
    overflow: hidden;
}

#board-title {
    font-size: 24px;
    position: fixed;
    top: 40px;
}

#create-list-form {
    width: 275px;
    min-width: 275px;
    background-color: rgba(76,175,80,1);
    margin: 0px 8px;
    padding: 3px;
    border-radius: 3px;
}

#create-list-input {
    width: 214.2px;
    margin-right: 2px;
}

#create-list-submit {
    width: 40.8px;
    background-color: rgba(18,109,255,.78);
    border: 0;
    border-radius: 3px;
    height: 30px;
    color: #fff;
    cursor: pointer;
}

#create-list-submit::-moz-focus-inner {
    border: 0;
}

#create-list-submit:hover {
    background-color: rgb(18,109,255);
}

.create-listentry-btn {
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    color: rgba(0,0,0,0.6);
}

.create-listentry-btn:hover {
    background-color: rgba(0, 0, 0, .15);
    color: #000;
}

.add-list-entry {
    background-color: #4caf50;
    padding: 5px 0px;
    border-radius: 3px;
    width: 155px;
    color: #fff;
    text-align: center;
    margin-right: 5px;
}

.add-list-entry:hover {
    background-color: #388f50;
}

#add-listentry-btns {
    display: flex;
    margin-top: 5px;
}

#hide-listentry-btn {
    color: rgba(0,0,0,.4);
    line-height: 27px;
    font-size: 35px;
}

#hide-listentry-btn:hover {
    color: #000;
}

.add-list-entry-input {
    width: 250px;
    margin-top:8px;
}

.list-content {
    max-height: calc((100vh - 50px) * 0.65);
    overflow: auto;
}

.list-entry-item {
    background-color: #fff;
    padding: 4px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    overflow-wrap: break-word;
}

.listentry-wrapper {
    padding: 5px 8px;
}

.list-entry-item:hover {
    background-color: #f4f5f7;
}

.list-title {
    max-height: calc((100vh - 65px) * 0.15);
    max-width: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
    padding-bottom: 5px;
    padding-top: 10px;
}

#create-listentry {
    max-height: calc((100vh - 55px) * 0.25);
}

.manage_board_submit_active {
    display: flex;
    width: 80px;
    height: 60px;
    text-align: center;
    align-items: center;
    background-color: #5aac44;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 5px;
}

.manage_board_submit_active:hover {
    background-color: #61bd4f;
}

.manage_board_submit {
    display: flex;
    width: 80px;
    height: 60px;
    text-align: center;
    align-items: center;
    background-color: rgba(9, 30, 66, .04);
    color: #a5adba;
    cursor: not-allowed;
    border-radius: 8px;
    margin-top: 5px;
}

.delete_board_submit {
    display: flex;
    width: 90px;
    height: 70px;
    text-align: center;
    align-items: center;
    background-color: rgba(235, 90, 70, 0.8);
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 5px;
}

.delete_board_submit:hover {
    background-color: rgba(235, 90, 70, 1);
    font-weight: bold;
}

.change-list-title-input {
    width: 85%;
}

.delete-list-btn {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.delete-list-btn:hover {
    font-weight: bold;
}

.change-list-form {
    display: flex;
}

.title-std {
    display: inline-block;
    width: 100%;
}

#edit-listentry-modal {
    overflow: hidden;
}

#edit-listentry-modal .modal-content {
    margin-top: 80px;
}

#edit-listentry-title-input {
    width: 250px;
}

#edit-listentry-description-input {
    width: 390px;
    height: 230px;
    overflow: auto;
    resize: none;
    border-radius: 3px;
    border: 1px solid #a5adba;
}

.edit-listentry-submit {
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    border: 0;
    background-color: #5aac44;
}

.edit-listentry-submit-inactive {    
    cursor: not-allowed;
    padding: 5px;    
    border-radius: 4px;
    color: #a5adba;
    border: 0;
    background-color: rgba(9, 30, 66, .04);
}

.edit-listentry-submit:hover {
    background-color: #61bd4f;
}