html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#dashboard_create {
    display: flex;
    width: 140px;
    height: 90px;
    text-align: center;
    align-items: center;
    background-color: rgba(9, 30, 66, .04);
    cursor: pointer;
    border-radius: 4px;
}

#dashboard_create:hover {
    background-color: rgba(9, 30, 66, .08);
}

.create_board_submit_active {
    display: flex;
    width: 110px;
    height: 70px;
    text-align: center;
    align-items: center;
    background-color: #5aac44;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.create_board_submit_active:hover {
    background-color: #61bd4f;
}

.create_board_submit {
    display: flex;
    width: 110px;
    height: 70px;
    text-align: center;
    align-items: center;
    background-color: rgba(9, 30, 66, .04);
    color: #a5adba;
    cursor: not-allowed;
    border-radius: 8px;
}

.board_titles_content {
    display:flex;
}

.boards {
    display: flex;
    margin: 20px;
    margin-top: 0px;
    width: 140px;
    height: 90px;
    background-color: #40a35b;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.boards:hover {
    background-color: #388f50;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #40a35b;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}